* {
    box-sizing: border-box;
}

.header {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
}

.row {
    /* display: -ms-flexbox;  */
    display: flex;
    flex-wrap: wrap;
    /* warping is crucial, will not respond to flex% if wrap is not defined. */
    /* -ms-flex-wrap: wrap; */
    padding: 0 4px;
}

.column {
    /* -ms-flex: 25%; */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

/* Below are the responsive attributes */

@media screen and (max-width: 800px) {
    .column {
        /* -ms-flex: 50%; */
        flex: 50%;
        max-width: 50%;
    }
}
@media screen and (max-width: 600px) {
    .column {
        /* -ms-flex: 100%; */
        flex: 100%;
        max-width: 100%;
    }
}


